@import "compass";

* {
	@include box-sizing(border-box);
}

body{
	background-color:#666;
	//font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	line-height:1.5;
	color:#151515;
	padding:1em 2em;
	margin:0;
	@include box-shadow(rgba(black,0.5) 0 1px 5px inset);
}

a{
	color:#151515;
	text-decoration:underline;
}

#{headings()}{
	font-weight: normal;
}

h1{
	margin:0;
	padding:0 .5em;
}

.card{
	padding:.5em 2em;
	margin:1em;
	margin-bottom: 2em;
	@include border-radius(10px);
	background-color:#B1B1B1;
	position:relative;
	@include box-shadow(rgba(black,0.5) 0 1px 5px inset);
}

ul.card{
	padding: 1em 2em;
}

.group{
	@include border-radius(10px);
	@include box-shadow(rgba(black,0.5) 0 1px 5px inset);
	padding:1em;
	padding-bottom:.5em;
	margin:1em 0;
	background-color:#969696;
	> h2{
		margin:0;
		padding:0 .5em;	
	}
}

#experience .summary{
	padding-right: 40%;
}

li.period{
	display:block;
	position:absolute;
	right:2em;
	top:1.8em;
	font-style:italic;
	line-height:.8;
	text-align:center;
	abbr,
	span{
		display:block;
	}
	// background-color:#969696;
	// border:10px solid #969696;
	// @include border-radius(50%);
}

.skills {
	h4{
		margin-bottom:.1em;
	}
	ul{
		margin-top:0;
	}
	li{
		@include inline-block;
		line-height:0;
		white-space:nowrap;
		border-right:1px solid #151515;
		margin: .5em;
		padding: .5em;
		padding-left:0;
		margin-left:0;
		margin-right:.2em;
		margin-bottom:0;
		&:nth-last-child(1){
			border-right:none;
			margin-right: 0;
			padding-right: 0;
		}
	}
}

#graduations{
	ol{
		list-style:none;
		abbr{
			float:left;
			width:10%;
		}
		p{
			float:left;
			width:90%;
		}
		@include clearfix;
	}
}